/Library
/Logs
/UnityPackageManager
/Temp
/.vs/shootan/v15/.suo
/.vs/shootan/v15/sqlite3/*.ide
/*.csproj
/*.sln
/.vs
/.idea
/.vscode

# Ignore all .meta file...
#*.meta
# ...except files with postfix, which should be everything but folders:
#!*.*.meta

/ProjectSettings/DynamicsManager.asset
/ProjectSettings/Physics2DSettings.asset
/ProjectSettings/GraphicsSettings.asset
/obj
/Assets/Plugins/Editor.meta
/Assets/Plugins/Editor/JetBrains.meta
/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
/Assets/Temp
/Assets/Temp.meta
/C:
/Assembly-CSharp.csproj.DotSettings
/MemoryCaptures
/build

/fmod_editor.log
#/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
#/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset.meta
/Assets/StreamingAssets/crashlytics-build.properties
/Assets/StreamingAssets/crashlytics-build.properties.meta
/Assets/Plugins/Android/fabric/res/values/strings.xml
/Assets/Plugins/Android/fabric/res/values/strings.xml.meta
/ProjectSettings/Packages/com.unity.polybrush/Settings.json
/ProjectSettings/Packages/com.unity.settings-manager/Settings.json
